
{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Reservacion de comida {% endblock title %}

{% block contenido %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h3>Reservacion del dia: <span name="dia"> <strong>{{ dia }}</strong></span></h3>
			</div>
		</div>
	</div>

	<form action="" method="POST">

		{% csrf_token %}
		{{ form.as_p }}

		{% if mensaje %}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-danger">
					<button class="close" data-dismiss="alert"><span>&times;</span></button>					
					{{ mensaje }}
				</div>
			</div>	
		</div>
		{% endif %}

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Guardar</button>	
		</div>
	</form>

</div>

{% endblock contenido %}