{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Lista de menus {% endblock title %}

{% block css %}
	<link rel='stylesheet' href="{% static 'libs/fullcalendar/fullcalendar.css' %}" />

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li><a href="{% url 'home.index' %}">Inicio</a></li>
	<li class="active">Menus</li>
</ol>

<div class="container-fluid">

	<div id="calendario">
	</div>
	
</div>

{% endblock contenido %}


{% block scripts %}
	
	<script src="{% static 'libs/fullcalendar/lib/moment.min.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/fullcalendar.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/locale/es.js' %}"></script>

	<script src="{% static 'menus/menu_lista.js' %}">></script>

{% endblock scripts %}