.jumbotron h1 {
	text-align: center;
}

.jumbotron p {
	text-align: center;
}

.jumbotron p button {
	text-align: center;
}

.container p {
	text-align: center;	
}

.form {
	width: 60%;
}

.page-header {
	text-align: center;
}

h2, .h2 {
	text-align: center;	
}
